body {
	font-family: sans-serif;
	text-align: center;
	color: white;
	padding: 0;
	margin: 0;
	background: black;
	color: white;
	touch-action: none;
	/* pointer-events: none; */
}

canvas {
	width: 100%;
	height: 100%;
	z-index: 1;
	touch-action: none;
	/* pointer-events: none; */
	user-select: none;
	-webkit-user-select: none; /* Disable text selection */
	-webkit-touch-callout: none; /* iOS Safari - Disable the default callout shown when you touch and hold a touch target */
}

.wrapper {
	width: 100%;
	height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#root {
	position: fixed;
	width: 100%;
	height: 100svh;

	align-items: center;
	justify-content: center;
}
